*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
.idea/*
coverage.txt
.project
.settings
.buildpath
*.ptp-sync-folder
data/*
data/logs/*
.vscode/*
RELEASE
/.ptp-sync/
bin/*
config/config.json
*.log
__debug_bin*
*.swp
